{%- extends config.RECORDS_UI_BASE_TEMPLATE %}

{%- block page_body %}
<div class="container search-page">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{record.name}}</h1>
        </div>
    </div>
    {%- block record_body %}
    {% if record.address %}
    <div class="row">
        <div class="col-xs-3 col-sm-2">
            {{_('Address')}}:
        </div>
        <div class="col-xs-9 col-sm-10">
            {{record.address}}
        </div>
    </div>
    {% endif %}

    {%- if current_user | can_edit %}
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group  pull-right" role="group" aria-label="...">
                <a href="{{ url_for('reroils_record_editor.update_org', pid=record.pid) }}" type="button" class="btn btn-success">
                    <i class="fa fa-pencil-square-o fa-fw"></i> {{_('Edit')}}
                </a>
                <a href="{{ url_for('reroils_record_editor.delete_org', pid=record.pid) }}" type="button" class="btn btn-danger">
                    <i class="fa fa-trash-o fa-fw"></i> {{_('Delete')}}
                </a>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Members -->

    <div class='reroils-members row'>
        <div class="col-sm-12">
            <h3>{{_('Members')}}
                {%- if current_user | can_edit %}
                <a href="{{ url_for('reroils_record_editor.create_memb',
                parent_pid=record.pid) }}" type="button" class="btn btn-sm btn-success">
                    <i class="fa fa-pencil-square-o fa-fw"></i> {{_('Add')}}
                </a>
                {% endif %}
            </h3>
        </div>
    </div>
    {% if record.members %}
    {% for member in record.members %}
    <div class="row">
        <div class="col-xs-3 col-sm-2">
            {{_('Name')}}:
        </div>
        <div class="col-xs-9 col-sm-10">
            {{ member.name }}
        </div>
    </div>
    {% if member.code %}
    <div class="row">
        <div class="col-xs-3 col-sm-2">
            {{_('Code')}}:
        </div>
        <div class="col-xs-9 col-sm-10">
            {{ _(member.code) }}
        </div>
    </div>
    {% endif %}

    {% if member.address %}
    <div class="row">
        <div class="col-xs-3 col-sm-2">
            {{_('Address')}}:
        </div>
        <div class="col-xs-9 col-sm-10">
            {{ member.address }}
        </div>
    </div>
    {% endif %}

    {% if member.email %}
    <div class="row">
        <div class="col-xs-3 col-sm-2">
            {{_('Email')}}:
        </div>
        <div class="col-xs-9 col-sm-10">
            {{ member.email }}
        </div>
    </div>
    {% endif %}


    {%- if current_user | can_edit %}
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                <a href="{{ url_for('reroils_record_editor.update_memb', pid=member.pid, parent_pid=record.pid) }}" type="button" class="btn btn-success">
                    <i class="fa fa-pencil-square-o fa-fw"></i> {{_('Edit')}}
                </a>
                <a href="{{ url_for('reroils_record_editor.delete_memb', pid=member.pid, parent_pid=record.pid) }}" type="button" class="btn btn-danger">
                    <i class="fa fa-trash-o fa-fw"></i> {{_('Delete')}}
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    <hr/>
    {% endfor %}
    {% endif %}

  {%- endblock %}
</div>
{%- endblock %}
