<ul class="re-list">
    <li ng-controller="recordController" ng-init="rec=record" ng-repeat="record in vm.invenioSearchResults.hits.hits track by $index">
    <h3><a target="_self" ng-href="/documents/{{ record.id }}">{{ record.metadata.title }}</a></h3>

    <!-- author -->
    <ul class="list-inline" ng-show='record.metadata.authors.length > 0'>
        <li ng-repeat='author in record.metadata.authors.slice(0,3)'>
            {{ author.name }}
            {{ author.qualifier ? author.qualifier : '' }}
            {{ author.date ? author.date : '' }}
            {{ $last ? '' : '; ' }}
        </li>
        <li ng-show='record.metadata.authors.length > 3'>; …</li>
    </ul>

    <!-- publishers -->
    <ul class="list-inline" ng-show='record.metadata.publishers.length > 0'>
        <li ng-repeat='publisher in record.metadata.publishers'>
            {{ publisher.place.join(', ') }}:
            {{ publisher.name.join(', ') }}
            {{ $last ? '' : '; ' }}
        </li>
    </ul>

    <!-- publicationDate -->
    <span ng-show='record.metadata.publicationYear && !record.metadata.freeFormedPublicationDate'>{{ record.metadata.publicationYear }}</span>
    <span ng-show='record.metadata.freeFormedPublicationDate'>{{ record.metadata.freeFormedPublicationDate }}</span>
    <div class='reroils-circulation'>
        <i class="fa fa-circle text-{{ record.metadata.available ? 'success' : 'danger' }}" aria-hidden="true"></i>
        <span translate>{{ record.metadata.available ? 'available' : 'not available' }}</span>
    </div>
    <hr />
  </li>
</ul>
