{%- extends config.RECORDS_UI_BASE_TEMPLATE %}

{%- block page_body %}
<div class="container search-page">
    <div class="row">
        <div class="col-md-12">
            <h1>{{_('Bnf ID')}}: {{record.identifier_for_person}}</h1>
        </div>
    </div>

        <div class="row">
            <div class="col-xs-3 col-sm-2">
                {{_('Record ID')}}:
            </div>
            <div class="col-xs-9 col-sm-10">
                {{record.pid }}
            </div>
        </div>

    {% if record.preferred_name_for_person  %}
        <div class="row">
            <div class="col-xs-3 col-sm-2">
                {{_('preferred_name')}}:
            </div>
            <div class="col-xs-9 col-sm-10">
                {{record.preferred_name_for_person }}
            </div>
        </div>
     {% endif  %}

    {% if record.authorized_access_point_representing_a_person  %}
        <div class="row">
            <div class="col-xs-3 col-sm-2">
                {{_('aap_person')}}:
            </div>
            <div class="col-xs-9 col-sm-10">
                {{record.preferred_name_for_person }}
            </div>
        </div>
     {% endif  %}


    {% with
        json=record
    %}
        {% include 'reroils_record_editor/_button_actions.html' %}
    {% endwith %}
</div>
{%- endblock %}
